{% extends 'web/base.html' %}


{% block content %}
    <section class="site-section" id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3" style="margin-top: 30px"><h1>Редактирование поста</h1></div>

                <div class="col-md-6 mb-5">

                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success">Сохранить</button>
                    </form>

                </div>

            </div>
        </div>
    </section>
{% endblock %}
