{% extends 'web/base.html' %}

{% block content %}
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <div class="py-2 bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 d-none d-lg-block">
                        <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a
                            questions?</a>
                        <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span> 10 20 123 456</a>
                        <a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span> info@mydomain.com</a>
                    </div>
                    <div class="col-lg-3 text-right">
                        <a href="login.html" class="small mr-3"><span class="icon-unlock-alt"></span> Log In</a>
                        <a href="register.html" class="small btn btn-primary px-4 py-2 rounded-0"><span
                                class="icon-users"></span> Register</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4"
             style="background-image: url('images/bg_1.jpg')">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-7">
                        <h2 class="mb-0">Title - {{ course.title }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <p>
                            <img src="images/course_5.jpg" alt="Image" class="img-fluid">
                        </p>
                    </div>
                    <div class="col-lg-5 ml-auto align-self-center">
                        <h2 class="section-title-underline mb-5">
                            <span>Course Details</span>
                            {% if user.is_authenticated and user.id == course.user_id %}
                                <p>
                                    <button class="btn btn-outline-success btn-sm"><a
                                            href="{% url 'course_update' slug=course.slug id=course.id %}">Edit post</a>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm"><a
                                            href="{% url 'course_delete' slug=course.slug id=course.id %}">Delete
                                        post</a></button>
                                </p>
                            {% endif %}
                        </h2>

                        <p><strong class="text-black d-block">Teacher:</strong>{{ course.user }}</p>
                        <p class="mb-5"><strong class="text-black d-block">Created:</strong>{{ course.created_date }}
                        </p>
                        Description:
                        <p>{{ course.text }}</p>

                        <ul class="ul-check primary list-unstyled mb-5">
                            <li>The lowest price ever - only {{ course.price }} rub</li>
                            <form action="{% url 'add_rating' %}" method="post" name="rating">
                                <b>Рейтинг:</b>
                                {% csrf_token %}
                                <input type="hidden" value="{{ course.id }}" name="course">
                                <span class="rating">
                                    {% for k, v in star_form.fields.star.choices %}
                                        <input id="rating{{ v }}" type="radio" name="star" value="{{ v }}">
                                        <label for="rating{{ v }}"{{ k }}></label>
                                    {% endfor %}
                                </span>
                                <span class="editContent">4.0</span>
                            </form>
                        </ul>

                        <p>
                            <a href="#" class="btn btn-primary rounded-0 btn-lg px-5">Enroll</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <h3 class="mb-5">Comments - {{ course.course_comments.all.count }}</h3>
                {% for comment in course.course_comments.all %}
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="{% if comment.user.image %}{{ comment.user.image.url }}"{% endif %}
                                     alt="user-img">
                            </div>
                            <div class="comment-body">
                                <h3>{{ comment.user }}</h3>
                                <div class="meta">{{ comment.created_at }}</div>
                                <p>{{ comment.text }}</p>
                                {% if user.is_authenticated and user.id == comment.user_id %}
                                    <a href="{% url 'update_comment' course.slug course.id comment.id %}">Edit</a>
                                    <form method="POST"
                                          action="{% url 'delete_comment' course.slug course.id comment.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-success">Delete</button>
                                    </form>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                {% endfor %}

                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Leave a comment</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success">Add</button>
                    </form>
                </div>
            </div>

            <div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                            <span class="icon flaticon-mortarboard"></span>
                            <h3>Our Philosphy</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure
                                repellat quis delectus ea? Dolore, amet reprehenderit.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                            <span class="icon flaticon-school-material"></span>
                            <h3>Academics Principle</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure
                                repellat quis delectus ea?
                                Dolore, amet reprehenderit.</p>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                            <span class="icon flaticon-library"></span>
                            <h3>Key of Success</h3>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis recusandae, iure
                                repellat quis delectus ea?
                                Dolore, amet reprehenderit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}