{% extends 'web/base.html' %}
{% load static %}
{% block content %}
    <br><br>
    <div class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-4 mb-5">
                    <h2 class="section-title-underline mb-5">
                        <span>Why Academics Works</span>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

                    <div class="feature-1 border">
                        <div class="icon-wrapper bg-primary">
                            <span class="flaticon-mortarboard text-white"></span>
                        </div>
                        <div class="feature-1-content">
                            <h2>Personalize Learning</h2>
                            <p>Thanks to personal training, you will be able to learn everything you didn't know before!</p>
                            <p><a href="https://github.com/AiriMairi" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="feature-1 border">
                        <div class="icon-wrapper bg-primary">
                            <span class="flaticon-school-material text-white"></span>
                        </div>
                        <div class="feature-1-content">
                            <h2>Trusted Courses</h2>
                            <p>These courses are of the highest quality and they are tested by many experts.</p>
                            <p><a href="https://github.com/AiriMairi" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <div class="feature-1 border">
                        <div class="icon-wrapper bg-primary">
                            <span class="flaticon-library text-white"></span>
                        </div>
                        <div class="feature-1-content">
                            <h2>Tools for Students</h2>
                            <p>We provide all the necessary tools for students to study.</p>
                            <p><a href="https://github.com/AiriMairi" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">


            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-6 mb-5">
                    <h2 class="section-title-underline mb-3">
                        <span>Popular Courses</span>
                    </h2>
                    <p>The most popular courses tags:
                        {% for tag in most_popular_tags %}
                            <a class="badge badge-secondary" href="{% url 'courses_by_tag' tag.slug %}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="owl-slide-3 owl-carousel">
                        {% for course in courses %}
                            <div class="course-1-item">
                                <figure class="thumnail">
                                    <a href="course-single.html"><img src="images/course_1.jpg" alt="Image"
                                                                      class="img-fluid"></a>
                                    <div class="price">$99.00</div>
                                    <div class="category"><h3>{{ course.tags }}</h3></div>
                                </figure>
                                <div class="course-1-content pb-4">
                                    <h2>{{ course.title }}</h2>
                                    <div class="rating text-center mb-3">
                                        <span class="icon-star2 text-warning"></span>
                                        <span class="icon-star2 text-warning"></span>
                                        <span class="icon-star2 text-warning"></span>
                                        <span class="icon-star2 text-warning"></span>
                                        <span class="icon-star2 text-warning"></span>
                                    </div>
                                    <p class="desc mb-4">{{ course.text|truncatewords:15 }}</p>
                                    <p><a href="{% url 'single_course' course.slug course.id %}"
                                          class="btn btn-primary rounded-0 px-4">Show details</a></p>
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>


        </div>
    </div>


    <div class="section-bg style-1" style="background-image: url('images/about_1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="section-title-underline style-2">
                        <span>About Our University</span>
                    </h2>
                </div>
                <div class="col-lg-8">
                    <p class="lead">This is the only place where you can study and enjoy the learning process.</p>
                    <p>This is the best parody of umskul.I am ready to say with confidence that the world has not seen anything better.</p>
                    <p><a href="https://github.com/AiriMairi">Read more</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="icon flaticon-mortarboard"></span>
                    <h3>Our Philosphy</h3>
                    <p>He studies, studies and studies again, because only by studying hard can progress be achieved.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="icon flaticon-school-material"></span>
                    <h3>Academics Principle</h3>
                    <p>Our principle is to teach everyone - because we believe that there are no untrained people.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <span class="icon flaticon-library"></span>
                    <h3>Key of Success</h3>
                    <p>The key to success lies through knowledge. This is our prerogative.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}